<header class="nav-wrapper btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div id="nav-movies" class="btn-group" role="group" aria-label="Movie">
    <button type="button" class="nav-item active btn btn-primary" data-source="movies" data-type="Movie" data-activity="Watching"><i class="nav-icon fal fa-popcorn"></i><span class="nav-text">Movie</span></button>
  </div>
  <div id="nav-series" class="btn-group" role="group" aria-label="Series">
    <button type="button" class="nav-item btn btn-primary" data-source="series" data-type="Series" data-activity="Watching"><i class="nav-icon fal fa-tv-retro"></i><span class="nav-text">Series</span></button>
  </div>
  <div id="nav-games" class="btn-group" role="group" aria-label="Game">
    <button type="button" class="nav-item btn btn-primary" data-source="games" data-type="Game" data-activity="Playing"><i class="nav-icon fal fa-gamepad-alt"></i><span class="nav-text">Game</span></button>
  </div>
</header>
