
<div id="trailerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="trailerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
