// Testimonial Styles for Content Builder
// ******************************************************************************

.testimonial-slider {
  padding-bottom: 40px;
  
  .slick-dots {
    left: 0;
    bottom: 0;
  }
  
  .slick-arrow {
    right: 0;
    bottom: 0;
  }
  
  .slick-prev {
    right: 74px;
  }

}
