{% set sectionContent = block.sectionContent.all() %}


{% set accRef = [] %}
{% set alpha = 'bdfghjklmnpqrvwxy' %}

{% for i in 1..6 %}
    {% set randomCharacter = random(alpha) %}
    {% set accRef = accRef|merge([randomCharacter]) %}
{% endfor %}

{% set accRef = accRef|join %}

<div class="col-md-10">
  <div class="accordion" id="accordion-{{ accRef }}">
  
    {% for block in sectionContent %}
    
      {% set ref = block.accordionTitle|kebab %}
    
      <div class="card">
        <div class="card-header" id="heading-{{ ref }}">
          <h2 class="mb-0">
            <button class="btn btn-link text-dark {% if loop.first and option.openFirstItem %}{% else %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse-{{ ref }}" aria-expanded="{% if loop.first and option.openFirstItem %}true{% else %}false{% endif %}" aria-controls="collapse-{{ ref }}">
              {{ block.accordionTitle }}
            </button>
          </h2>
        </div>
    
        <div id="collapse-{{ ref }}" class="collapse {% if loop.first and option.openFirstItem %}show{% endif %}" aria-labelledby="heading-{{ ref }}" {% if option.toggleItems %}data-parent="#accordion-{{ accRef }}"{% endif %}>
          <div class="card-body text-dark">
            {{ block.accordionContent }}
          </div>
        </div>
      </div>
    
    {% endfor %}
  
  </div>
</div>