{% set sectionContent = block.sectionContent.all() %}
{% set options = block.sectionOptions.all() %}

{% for option in options %}

  {% set sectionHeight = 'h-auto' %}
  {% if option.padding == 'full' %}
    {% set sectionHeight = 'min-vh-100' %}
  {% endif %}

  <section id="{{ option.sectionId }}" class="section-banner {{ option.backgroundColour }} {{ option.bannerStyle }} {{ option.sectionClass }} {% if option.textLight %}text-white{% endif %}">

    {% for block in sectionContent %}

      {% set bgImage = block.backgroundImage.one() %}
      {% set bgVideo = block.backgroundVideo.one() %}
      {% set suppImage = block.supportingImage.one() %}
      {% set suppVideo = block.supportingVideo.one() %}

      {% if bgImage %}
        {% set imgId = bgImage.id %}
        {% import "_macros/_imgStyling" as imgStyles %}
      {% endif %}

      {% if loop.first %}
        <div class="{% if loop.length > 1 %}banner-slider{% else %}banner{% endif %}">
      {% endif %}

        <div class="banner-item {{ block.backgroundColour }} {% if block.textLight %}text-white{% endif %}" {% if bgImage %}style="{{ imgStyles.setStyles(imgId) }}"{% endif %}>

          {% if bgVideo %}
          <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="{% if bgImage %}{{ bgImage.getUrl('background') }}{% endif %}">
            <source src="{{ bgVideo.getUrl() }}" type="video/mp4">
          </video>
          {% endif %}

          <div class="container{% if option.fullWidth %}-fluid{% endif %}">
            <div class="banner-content row padding-{{ option.padding }} align-items-center {% if option.bannerStyle == 'banner-centered' %}justify-content-center text-center{% endif %}">
              {% if suppImage or suppVideo %}
              <div class="banner-media col-lg-5 order-lg-last">
                {% if suppVideo %}
                  <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" poster="{% if suppImage %}{{ suppImage.getUrl('featuredStandard') }}{% endif %}" controls>
                      <source src="{{ suppVideo.getUrl() }}" type="video/mp4">
                    </video>
                  </div>
                {% else %}
                  <img src="{{ suppImage.getUrl('featuredStandard') }}" alt="{{ suppImage.title }}" class="feature-img img-fluid">
                {% endif %}
              </div>
              {% endif %}
              <div class="banner-text col-lg-7">
                <h1>{{ block.bannerTitle|raw }}</h1>
                <div class="lead">

                  {{ block.bannerIntro }}

                  {% if block.primaryButton %}
                    {{ block.primaryButton.getLink({ class: 'btn btn-primary' }) }}
                  {% endif %}
                  {% if block.secondaryButton %}
                    {{ block.secondaryButton.getLink({ class: 'btn btn-secondary' }) }}
                  {% endif %}

                </div>
              </div>
            </div>
          </div>

        </div>

      {% if loop.last %}
        </div>
      {% endif %}

    {% endfor %}

  </section>

{% endfor %}
