{% set sectionContent = block.sectionContent.all() %}

{% for block in sectionContent %}

  {% set suppImage = block.supportingImage.one() %}
  {% set suppVideo = block.supportingVideo.one() %}
  {% set textwidth = "col-lg-6" %}
  {% set mediwidth = "col-lg-6" %}

  {% if block.featureBalance == "2" %}
    {% set textwidth = "col-lg-8" %}
    {% set mediwidth = "col-lg-4" %}
  {% endif %}

  {% if suppImage or suppVideo %}

    <div class="feature-media px-4 {{ mediwidth }} {% if block.imageRight %}order-lg-last{% endif %}">
      {% if suppVideo %}
        {% set videoSetup = 'class="video-player embed-responsive-item" controls playsinline' %}
        {% if suppImage %}
          {% set videoSetup = 'class="video-player no-controls embed-responsive-item" poster="' ~ suppImage.getUrl('videoPlaceholder169') ~ '" playsinline' %}
        {% endif %}
        <div class="embed-responsive embed-responsive-16by9">
          <video {{ videoSetup|raw }}>
            <source src="{{ suppVideo.getUrl() }}" type="video/mp4">
          </video>
        </div>
      {% else %}
        <img src="{{ suppImage.getUrl('featuredStandard') }}" alt="{{ suppImage.title }}" class="feature-img img-fluid">
      {% endif %}
    </div>

  {% endif %}

  <div class="feature-text px-4 {{ textwidth }}">
    <h2>{{ block.featureTitle|raw }}</h2>
    <div class="lead">

      {{ block.featureIntroduction }}

      {% if block.primaryButton or block.secondaryButton %}
        <div class="cta-buttons">
          {% include "_includes/_primarySecondaryBtns" %}
        </div>
      {% endif %}

    </div>
  </div>

{% endfor %}
