{% set sectionContent = block.sectionContent.all() %}

<div class="col-md-10">
  
  {% for block in sectionContent %}
  
    {% if (loop.index == 1) and (loop.length > 1) %}
      <div class="testimonial-slider">
    {% endif %}
  
      <div class="testimonial-item">
        <blockquote class="blockquote {% if option.alignLeft %}text-left{% else %}text-center{% endif %}">
          <p>{{ block.testimonial|raw }}</p>
          {% if block.credit %}
          <cite title="{{ block.credit }}">{{ block.credit }}</cite>
          {% endif %}
        </blockquote>
      </div>
    
    {% if (loop.last) and (loop.length > 1) %}
      </div>
    {% endif %}
    
  {% endfor %}
  
</div>